.bar {
  display: inline-block;
  width: 20px;
  background-color: blue;
  margin-right: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: helvetica;
  font-size: 11px;
}
/*Because we have added a class of "axis" to an svg element, we can add words like "path," "line," and "text" after the intial class css selector.  Within each svg attribute is a slightly different terminology--eg. you cannot use "fill" in css.*/
